body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Lobster", cursive;  
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #cEC8ff;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}
/*border-bottom: 1px ridge;*/

.navbar-dark {
    background-color: #901CAD;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
    }

.media {
    background-color: rgba(243, 247, 248, 0.1);
    box-shadow: 10px 10px 10px black;
    }

.modal-header {
    background-color: lightseagreen;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}
